root = true

###############################################################################
# PowerShell
###############################################################################

[*.{ps1,psm1,psd1}]
charset = utf-8-bom
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

###############################################################################
# Tests
###############################################################################

[*.Tests.ps1]
charset = utf-8-bom
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

###############################################################################
# Markdown
###############################################################################

[*.md]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = false

###############################################################################
# YAML
###############################################################################

[*.{yml,yaml}]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

###############################################################################
# JSON
###############################################################################

[*.json]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

###############################################################################
# XML
###############################################################################

[*.{xml,config}]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

###############################################################################
# General text files
###############################################################################

[*.txt]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true